@using Microsoft.AspNetCore.Identity
@using PROG7311_WebApp.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Green Agri-Energy Connect</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PROG7311_WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" zoomAndPan="magnify" viewBox="0 0 144.75 128.249994" height="35" preserveAspectRatio="xMidYMid meet" version="1.0" style="margin-right: 8px;"><defs><g /><clipPath id="948f3b9466"><path d="M 35 88 L 74 88 L 74 105.25 L 35 105.25 Z M 35 88 " clip-rule="nonzero" /></clipPath><clipPath id="d8988bd896"><path d="M 22.03125 10 L 86 10 L 86 62 L 22.03125 62 Z M 22.03125 10 " clip-rule="nonzero" /></clipPath><clipPath id="2744cec3fc"><path d="M 23 5.335938 L 121.945312 5.335938 L 121.945312 93 L 23 93 Z M 23 5.335938 " clip-rule="nonzero" /></clipPath><clipPath id="eaa284d6a1"><path d="M 9.847656 0 L 133.625 0 L 133.625 123.777344 L 9.847656 123.777344 Z M 9.847656 0 " clip-rule="nonzero" /></clipPath></defs><path fill="#2a9d8f" d="M 94.394531 96.929688 C 81.78125 96.929688 70.4375 89.90625 59.46875 83.113281 C 57.246094 81.738281 54.964844 80.324219 52.6875 78.972656 C 40.96875 72.046875 30.972656 76.390625 27.667969 78.460938 C 28.992188 81.007812 30.535156 83.421875 32.269531 85.683594 C 33.453125 84.953125 39.976562 81.40625 48.328125 86.347656 C 50.5625 87.667969 52.894531 89.117188 54.957031 90.390625 C 58.941406 92.859375 63.113281 95.441406 67.492188 97.757812 C 77.402344 103 89.386719 102.925781 99.011719 97.175781 C 99.441406 96.917969 99.84375 96.660156 100.207031 96.410156 C 98.292969 96.75 96.347656 96.929688 94.394531 96.929688 Z M 94.394531 96.929688 " fill-opacity="1" fill-rule="nonzero" /><g clip-path="url(#948f3b9466)"><path fill="#2a9d8f" d="M 46.144531 90.027344 C 40.722656 86.816406 36.582031 88.265625 35.070312 89.015625 C 44.167969 99 57.285156 105.257812 71.863281 105.257812 C 72.34375 105.257812 72.820312 105.25 73.296875 105.234375 C 65.8125 102.152344 58.984375 97.921875 52.703125 94.03125 C 50.648438 92.753906 48.335938 91.328125 46.144531 90.027344 Z M 46.144531 90.027344 " fill-opacity="1" fill-rule="nonzero" /></g><g clip-path="url(#d8988bd896)"><path fill="#2a9d8f" d="M 28.402344 55.421875 C 28.402344 31.421875 47.863281 11.960938 71.863281 11.960938 C 76.496094 11.960938 80.964844 12.691406 85.152344 14.03125 C 79.640625 11.625 73.554688 10.289062 67.167969 10.289062 C 43.054688 10.292969 23.300781 29.289062 22.085938 53.105469 C 22.070312 53.488281 22.050781 53.875 22.042969 54.261719 C 22.035156 54.648438 22.03125 55.039062 22.03125 55.421875 C 22.03125 57.355469 22.136719 59.261719 22.359375 61.140625 C 24.269531 60.269531 26.339844 59.511719 28.542969 58.914062 C 28.453125 57.765625 28.402344 56.601562 28.402344 55.421875 Z M 28.402344 55.421875 " fill-opacity="1" fill-rule="nonzero" /></g><g clip-path="url(#2744cec3fc)"><path fill="#62ad6b" d="M 73.167969 5.605469 C 64.742188 5.390625 56.769531 7.273438 49.742188 10.761719 C 55.191406 8.617188 61.128906 7.4375 67.339844 7.4375 C 92.789062 7.4375 113.605469 27.234375 115.21875 52.277344 C 115.246094 52.585938 115.261719 52.882812 115.273438 53.191406 C 115.296875 53.5625 115.316406 53.933594 115.316406 54.304688 C 115.316406 57.613281 114.382812 76.976562 101.394531 82.035156 C 91.433594 85.921875 81.3125 80.597656 70.109375 73.746094 C 68.695312 71.40625 68.332031 67.03125 69.042969 64.753906 C 69.910156 61.976562 73.402344 62.019531 73.402344 62.019531 C 71.339844 62.570312 69.53125 65 69.53125 65 C 74.757812 65.980469 75.851562 60.566406 75.851562 60.566406 C 70.871094 58.546875 69.355469 61.675781 68.5625 63.855469 C 68.703125 61.691406 67.84375 59.933594 67.246094 58.289062 C 66.648438 56.644531 67.394531 55.3125 67.394531 55.3125 C 67.113281 57.507812 68.65625 59.378906 68.65625 59.378906 C 70.710938 55.367188 67.253906 52.660156 67.253906 52.660156 C 67.253906 52.660156 66.667969 53.894531 65.800781 55.578125 C 64.933594 57.261719 66.023438 58.957031 66.65625 59.542969 C 67.289062 60.125 67.363281 61.648438 67.25 62.984375 C 63.589844 57.90625 59.269531 60.976562 59.269531 60.976562 C 59.269531 60.976562 59.847656 61.683594 61.011719 63.328125 C 62.175781 64.972656 64.535156 65.613281 65.769531 64.59375 C 65.398438 62.484375 62.082031 61.847656 62.082031 61.847656 C 65.09375 61.519531 67.144531 63.453125 67.28125 65.261719 C 67.445312 67.433594 66.679688 70.066406 66.242188 71.363281 C 64.070312 70.019531 61.855469 68.648438 59.589844 67.308594 C 58.160156 66.464844 56.738281 65.730469 55.320312 65.09375 C 54.722656 63.882812 54.585938 61.902344 54.917969 60.835938 C 55.351562 59.449219 57.097656 59.46875 57.097656 59.46875 C 56.066406 59.746094 55.160156 60.960938 55.160156 60.960938 C 57.777344 61.453125 58.324219 58.742188 58.324219 58.742188 C 55.832031 57.734375 55.070312 59.296875 54.675781 60.386719 C 54.746094 59.304688 54.316406 58.425781 54.015625 57.601562 C 53.71875 56.777344 54.09375 56.109375 54.09375 56.109375 C 53.949219 57.210938 54.722656 58.144531 54.722656 58.144531 C 55.75 56.136719 54.019531 54.78125 54.019531 54.78125 C 54.019531 54.78125 53.726562 55.398438 53.292969 56.242188 C 52.855469 57.085938 53.402344 57.933594 53.722656 58.226562 C 54.039062 58.519531 54.074219 59.28125 54.019531 59.949219 C 52.183594 57.40625 50.023438 58.945312 50.023438 58.945312 C 50.023438 58.945312 50.308594 59.296875 50.894531 60.121094 C 51.476562 60.941406 52.660156 61.261719 53.273438 60.753906 C 53.089844 59.699219 51.429688 59.378906 51.429688 59.378906 C 52.9375 59.214844 53.964844 60.183594 54.035156 61.089844 C 54.121094 62.28125 53.652344 63.75 53.453125 64.308594 C 51.554688 63.566406 49.683594 62.992188 47.839844 62.582031 C 46.414062 60.65625 45.925781 56.191406 46.867188 53.28125 C 48.003906 49.777344 52.425781 49.882812 52.425781 49.882812 C 49.804688 50.546875 47.480469 53.597656 47.480469 53.597656 C 54.082031 54.917969 55.546875 48.074219 55.546875 48.074219 C 49.273438 45.453125 47.308594 49.386719 46.273438 52.136719 C 46.484375 49.394531 45.417969 47.160156 44.6875 45.070312 C 43.953125 42.984375 44.921875 41.304688 44.921875 41.304688 C 44.53125 44.082031 46.457031 46.46875 46.457031 46.46875 C 49.113281 41.425781 44.777344 37.949219 44.777344 37.949219 C 44.777344 37.949219 44.015625 39.5 42.894531 41.617188 C 41.769531 43.734375 43.128906 45.894531 43.921875 46.648438 C 44.71875 47.398438 44.785156 49.320312 44.625 51.011719 C 40.058594 44.535156 34.550781 48.359375 34.550781 48.359375 C 34.550781 48.359375 35.273438 49.261719 36.722656 51.359375 C 38.171875 53.457031 41.148438 54.300781 42.726562 53.03125 C 42.285156 50.355469 38.097656 49.5 38.097656 49.5 C 41.914062 49.128906 44.480469 51.605469 44.628906 53.898438 C 44.816406 56.789062 43.695312 60.308594 43.140625 61.839844 C 40.832031 61.625 38.597656 61.628906 36.464844 61.816406 C 35.507812 60.832031 34.976562 58.46875 35.203125 57.21875 C 35.460938 55.785156 37.195312 55.585938 37.195312 55.585938 C 36.207031 55.988281 35.457031 57.308594 35.457031 57.308594 C 38.117188 57.46875 38.320312 54.710938 38.320312 54.710938 C 35.722656 54.019531 35.164062 55.667969 34.90625 56.800781 C 34.839844 55.714844 34.304688 54.898438 33.902344 54.117188 C 33.503906 53.339844 33.792969 52.628906 33.792969 52.628906 C 33.789062 53.738281 34.671875 54.570312 34.671875 54.570312 C 35.441406 52.453125 33.558594 51.324219 33.558594 51.324219 C 33.558594 51.324219 33.34375 51.972656 33.015625 52.863281 C 32.691406 53.753906 33.339844 54.523438 33.691406 54.777344 C 34.042969 55.027344 34.171875 55.777344 34.199219 56.449219 C 32.0625 54.15625 30.109375 55.949219 30.109375 55.949219 C 30.109375 55.949219 30.4375 56.265625 31.121094 57.007812 C 31.800781 57.753906 33.015625 57.925781 33.5625 57.34375 C 33.246094 56.316406 31.558594 56.203125 31.558594 56.203125 C 33.035156 55.855469 34.171875 56.6875 34.355469 57.578125 C 34.609375 58.84375 34.097656 61.40625 33.945312 62.117188 C 29.773438 62.765625 26.066406 64.046875 23.054688 65.550781 C 23.695312 68.675781 24.636719 71.699219 25.84375 74.582031 C 29.300781 72.570312 41.019531 67.105469 54.863281 75.296875 C 57.175781 76.660156 59.480469 78.089844 61.710938 79.472656 C 72.21875 85.980469 82.992188 92.652344 94.390625 92.652344 C 94.710938 92.652344 95.027344 92.644531 95.34375 92.636719 C 103.277344 92.359375 110.480469 87.90625 114.582031 81.105469 C 119.085938 73.632812 121.683594 64.886719 121.703125 55.53125 C 121.757812 28.625 100.0625 6.292969 73.167969 5.605469 Z M 73.167969 5.605469 " fill-opacity="1" fill-rule="nonzero" /></g><path fill="#ffbd55" d="M 98.597656 53.894531 C 89.742188 53.894531 82.570312 61.074219 82.570312 69.929688 C 82.570312 72.636719 83.238281 75.183594 84.421875 77.417969 C 87.890625 78.878906 91.214844 79.777344 94.371094 79.777344 C 96.382812 79.777344 98.253906 79.429688 100.097656 78.707031 C 107.632812 75.765625 110.292969 66.3125 111.238281 60.070312 C 108.308594 56.316406 103.738281 53.894531 98.597656 53.894531 Z M 98.597656 53.894531 " fill-opacity="1" fill-rule="nonzero" /><path fill="#ffbd55" d="M 48.492188 27.207031 C 45.796875 29.640625 43.824219 32.09375 42.554688 33.898438 L 81.957031 59.589844 C 82.527344 58.675781 83.167969 57.804688 83.890625 57 Z M 48.492188 27.207031 " fill-opacity="1" fill-rule="nonzero" /><path fill="#ffbd55" d="M 89.792969 52.425781 L 60.652344 19.832031 C 57.484375 20.960938 54.71875 22.472656 52.335938 24.136719 L 86.363281 54.632812 C 87.421875 53.777344 88.570312 53.039062 89.792969 52.425781 Z M 89.792969 52.425781 " fill-opacity="1" fill-rule="nonzero" /><path fill="#ffbd55" d="M 96.589844 50.429688 L 78.09375 18.269531 L 78.089844 18.269531 C 77.351562 18.171875 76.609375 18.089844 75.855469 18.023438 C 72.515625 17.722656 69.425781 17.859375 66.589844 18.3125 L 92.726562 51.226562 C 93.964844 50.835938 95.257812 50.5625 96.589844 50.429688 Z M 96.589844 50.429688 " fill-opacity="1" fill-rule="nonzero" /><path fill="#ffbd55" d="M 102.214844 50.671875 L 96.914062 25.707031 C 93.613281 23.230469 89.828125 21.269531 85.53125 19.914062 L 99.648438 50.359375 C 100.515625 50.398438 101.371094 50.507812 102.214844 50.671875 Z M 102.214844 50.671875 " fill-opacity="1" fill-rule="nonzero" /><path fill="#ffbd55" d="M 107.796875 52.625 L 109.359375 41.820312 L 109.359375 41.816406 C 107.742188 38.113281 105.691406 34.71875 103.207031 31.722656 L 104.734375 51.320312 C 105.796875 51.664062 106.820312 52.105469 107.796875 52.625 Z M 107.796875 52.625 " fill-opacity="1" fill-rule="nonzero" /><g clip-path="url(#eaa284d6a1)"><path fill="#238276" d="M 133.941406 124.089844 L 9.847656 124.089844 L 9.847656 0 L 133.941406 0 Z M 10.636719 123.300781 L 133.152344 123.300781 L 133.152344 0.789062 L 10.636719 0.789062 Z M 10.636719 123.300781 " fill-opacity="1" fill-rule="nonzero" /></g></svg>
                    <span class="navbar-brand-text">Green Agri-Energy Connect</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @* Removed Privacy link for now, can be added back if needed
                        <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        *@

                        @if (User.Identity != null && User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Employee"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Employee" asp-action="Index">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Employee" asp-action="ViewAllProducts">View Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Employee" asp-action="AddFarmer">Add Farmer</a>
                                </li>
                            }

                            @if (User.IsInRole("Farmer"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Farmer" asp-action="Index">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Farmer" asp-action="AddProduct">Add Product</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Farmer" asp-action="MyProducts">My Products</a>
                                </li>
                            }
                        }
                    </ul>

                    <ul class="navbar-nav">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <span class="navbar-text me-2">
                                    Hello @UserManager.GetUserName(User)!
                                </span>
                                @* Link to manage account - kept original logic
                            <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                            *@
                            </li>
                            <li class="nav-item">
                                <form id="logoutForm" class="form-inline d-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button id="logout" type="submit" class="nav-link btn btn-link logout-button border-0">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link login-link" id="login" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container body-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Green Agri-Energy Connect - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
